        ---
        import { Image } from "@astrojs/image/components";
        import Base from "@layouts/Base.astro";
        import { markdownify } from "@lib/utils/textConverter";
        import { getEntryBySlug } from "astro:content";
        
        const entry = await getEntryBySlug("about", "index");
        const { Content } = await entry.render();
        const { title, description, meta_title, image, what_i_do } = entry.data;
        ---
        
        <Base
        title={title}
        meta_title={meta_title}
        description={description}
        image={image}
        >
        <section class="section">
          <div class="container">
              <div class="flex flex-wrap">
                <!-- Colonne 1 : Texte -->
                <div class="w-full md:w-1/2 ">
                  <h2 class="mb-6 text-corail-100">A mon propos</h2>
                  <p class="text-justify">Je suis une future ingénieure des médias, prochainement diplômée en septembre 2024.
                    Au cours de ma formation à la HEIG-VD, j'ai pu découvrir une vraie passion pour tout ce qui touche au développement web front.
                    <br><br>
                    C'est pourquoi, je me suis spécialisée dans les domaines d'UX, d'UI et le développement front-end.
                  </p>
                </div>
                
                <!-- Colonne 2 : Image -->
                <div class="w-full md:w-1/2 px-4 flex justify-center items-center">
                  <img class=" h-52 w-auto" src="../../public/images/dragon1.png" alt="dragon"/>
                </div>
              </div>
            </div>
          </section>
          
          <section class="section pt-0">
            <div class="container">
              <h4 class="text-corail-100 font-weight-700 mb-3">Ikigai</h4>
              <p class="text-justify">De plus, lors d'un cours en Ingénierie des médias, j'ai pu confirmer mon choix d'être développeuse web front-end grâce au concepet japonais d'ikigai.
                Je vous laisse le découvrir pour en savoir davantage sur les différentes composantes de ma “raison d'être” et “joie de vivre” (traduction d'ikigai).</p>
              </div>
            </section>
            <section class="section pt-0">
              <div class="container">
                <h4 class="text-corail-100 font-weight-700 mb-3">Création de ce site</h4>
                <p>
                  J'ai crée ce portfolio à partir du framework astro, car celui-ci à différents avantages :
                  <ul>
                    <li>
                      - Amélioration des performances du chargement initial et de la navigation.
                    </li>
                    <li>
                      - Simplification du développement front-end en favorisant la modularité.
                    </li>
                    <li>
                      - Contribution à une empreinte carbone réduite grâce à une approche "moins de JavaScript".
                    </li>
                  </ul>
                </p>
              </div>
            </section>
          </Base>
          
          
