---
import Base from "@layouts/Base.astro";
import Services from './servicesContent.astro';
---

<Base>
  <section class="section">
    <div class="container">
      <div>
        <h1 class=text-left" set:html= "Salut mon nom est Caroline et je suis ingénieure des médias" class="h2 page-heading" />
      </div>
    </div>
    <Services/>
  </section>
</Base>
