---
import Base from "@layouts/Base.astro";
import Services from './servicesContent.astro';
import Projets from './projetsContent.astro'
import About from './aboutContent.astro'
import config from "@config/config.json";
import arrow from "../images/arrow-top.png";


---

<Base>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
  </head>
  
  <section class="section py-0">
    <div class="container">
      <div class="content">
        <h2 set:html= "Bienvenue sur mon Portfolio" class="h1 mt-24 mb-8 text-corail-100 text-left " />
        <p class=" text-center ">Je suis Caroline et diplômée d'un Bachelor en tant qu'ingénieur des médias. 
          Spécialisée dans tout ce qui touche à l'interface, notamment l'UX, l'UI et le développement front-end, 
          je vous invite à explorer mon portfolio. Ici, vous pourrez en savoir davantage sur mes services, 
          découvrir mes projets récents et apprendre qui je suis à travers ma section 'À propos'. 
          </p>
          <p>Bienvenue dans mon univers professionnel où la créativité rencontre la technologie </p>
      </div>
    </div>
  </div>
</section>

</div>
</div>
<Services/>
<Projets/>
<About/>
<button id="scrollToTop">
  <img src={arrow.src} style="width: 35px; height: 35px;"/>
</button>
</section>
</Base>

<!-- script -->

<script type="module">
  // Ce code ne s'exécutera que côté client après le chargement de la page
  const button = document.getElementById('scrollToTop');
  
  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
  
  button.addEventListener('click', scrollToTop);
</script>

<!-- Style -->
<style>
  #scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  
</style>
