---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("pages", "contact");
const { title, description, meta_title, image } = entry.data;
---

<Base
title={title}
meta_title={meta_title}
description={description}
image={image}
>
<section class="section">
  <div class="container">
    <h2 set:html= "Les projets réalisés à ce jour" class="h2 text-corail-100 text-left mb-8" />
    <p>Création d'une page : /src/pages/projets.astro</p>
    <div>
      <div class="flex flex-col lg:flex-row rounded overflow-hidden h-auto lg:h-48 border shadow shadow-lg">
        <img class="block h-auto w-full lg:w-48 flex-none bg-cover h-24" src="https://pbs.twimg.com/media/DrM0nIdU0AEhG5b.jpg">
        <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="text-black font-bold text-xl mb-2 leading-tight">Can life make you a bitter developer?</div>
          <p class="text-grey-darker text-base">Read more</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
</Base>
